<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="TestConfiguration" type="SeleniumFramework.ConfigElement.TestConfiguration, SeleniumFramework"/>
  </configSections>
  <appSettings>  
    <add key="browser" value="chrome"/>
    <add key="baseURL" value="https://demosite.executeautomation.com"/>
    <add key="ExplicitWaitTimeout" value="10"/>
    <add key="ImplicitWaitTimeout" value="10"/>
  </appSettings>


  <TestConfiguration>
    <testSettings>

      <testSetting name ="staging" aut ="https://demosite.executeautomation.com" browser ="Chrome" testType ="SmokeTest" isLog="Y" logPath ="C://Eurofins//Practice Programs//Selenium_Test_Project//SeleniumAutomationFramework//LogInfo" ImplicitWaitTimeout="5000" ExplicitWaitTimeout="10000"/>
      <testSetting name ="preprod" aut ="https://demosite.executeautomation.com" browser ="Chrome" testType ="SmokeTest" isLog="Y" logPath ="C://Eurofins//Practice Programs//Selenium_Test_Project//SeleniumAutomationFramework//LogInfo" ImplicitWaitTimeout="5000" ExplicitWaitTimeout="10000"/>
      <testSetting name ="production" aut ="https://demosite.executeautomation.com" browser ="Chrome" testType ="SmokeTest" isLog="Y" logPath ="C://Eurofins//Practice Programs//Selenium_Test_Project//SeleniumAutomationFramework//LogInfo" ImplicitWaitTimeout="5000" ExplicitWaitTimeout="10000"/>

      </testSettings>
  
 </TestConfiguration>
    
</configuration>